.containerMenuPpal {
    width: 90%;
    margin: auto;
    }

.navigation-bar1 {
    display: flex;
    color: azure;
    height: 3em;
    border-radius: 5px;
    margin-bottom: .5em;
}

.navigation-bar1 .nav-bar-item:nth-child(n) {
    display: flex;
    justify-content:  center;
    align-items: center;    
    background-color: #2fa4e7;
    width: 100%;
    font-weight: 500;
    transition: font-weight .5s;
    border: rgb(31, 117, 143) solid 2px;

    
}
.navigation-bar1 .nav-bar-item:nth-child(n):hover {
    display: flex;
    justify-content:  center;
    align-items: center;    
    background-color: #1b89c9;
    font-size: 1.2rem;
    font-weight: 900;
    
}
.navigation-bar1 .nav-bar-item:nth-child(1) {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    flex:1 0 0;

}

.navigation-bar1 .nav-bar-item:nth-child(2) {
    flex:1 0 0;
}
.navigation-bar1 .nav-bar-item:nth-child(3) {
    flex:1 0 0;

}
.navigation-bar1 .nav-bar-item:nth-child(4) {
    flex:2 0 0;
}
.navigation-bar1 .nav-bar-item:nth-child(5) {
    flex:2 0 0;
}
.navigation-bar1 .nav-bar-item:nth-child(6) {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    flex:1 0 0;
}

.navigation-bar1 .nav-bar-item a {
    color: aliceblue;
    text-shadow: 2px 2px 5px rgb(37, 69, 128);

}

.navigation-bar1 .nav-bar-item a:hover {
    color: rgb(3, 70, 128);
}

.grid-items {
    border: rgb(216, 210, 210) solid;
}
.grid-item-box{
    border: rgba(87, 47, 47,.1) solid;
    box-shadow: 2px 2px 5px #999;
    margin: .5em 0;
    width: 100%;
}
.grid-item-box-jugadores{
    border: rgba(87, 47, 47,.1) solid;
    box-shadow: 2px 2px 5px #999;
    margin: 1em 0;
    width: 75%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(10,auto);
    grid-template-rows: (4em 4em 1em 0);
}

.grid-container .grid-items:nth-child(n) {
    background-color: #223c5d;
}

.grid-items:nth-child(2) h3 {
    color: white;
    height: 1.5em;;
}
.grid-container .grid-items:nth-child(1) {
    background-color: #fff;
    grid-column: 1/8;
    grid-row: 1/3;
    height: 49em;
    text-align: center;
    padding: .5em;


}
.grid-container .grid-items:nth-child(2) {
    background-color: rgb(163, 12, 12);
    grid-column: 8/11;
    grid-row: 1/3;
    height: 49em;
    text-align: center;
    padding: .5em;
}

.containerJugadores {
    display: grid;
    grid-template-columns: repeat(1, 1.5fr 1fr 1fr 1fr);
    grid-gap: .1em;

}
.grid-items h3 {
    height: 1.3em;;
    font-size: 1.5rem;
    font-weight: 600;
    text-align:  center;

}

.containerJugadores .li-grid-item:nth-child(n) {
    list-style-type: none;
    height: 1.75em;
    font-size: .90rem;

}

.containerJugadores .li-grid-item:nth-child(1) {
    grid-column: 1/5;
    grid-row: 1/2;
    list-style-type: none;
    text-align: start;
    width: 100%;



}

.containerJugadores .li-grid-item:nth-child(1) h6{
    font-size: 1.15rem;
    font-weight: 600;
    align-items: center;
}

.containerJugadores .li-grid-item:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/3;
    list-style-type: none;
    text-align: start;
    padding-left: .5em;
    border: solid rgba(128, 128, 128, .3) 2px;
    width: 95%;
}
.containerJugadores .li-grid-item:nth-child(3) {
    grid-column: 2/3;
    grid-row: 2/3;
    list-style-type: none;
    text-align: start;
    padding-left: .5em;
    border: solid rgba(128, 128, 128, .3) 2px;
    width: 95%;
}
.containerJugadores .li-grid-item:nth-child(4) {
    grid-column: 3/4;
    grid-row: 2/3;
    list-style-type: none;
    text-align: start;
    padding-left: .5em;
    border: solid rgba(128, 128, 128, .3) 2px;
    width: 95%;
}
.containerJugadores .li-grid-item:nth-child(5) {
    grid-column: 4/5;
    grid-row: 2/3;
    list-style-type: none;
    text-align: start;
    padding-left: .5em;
    border: solid rgba(128, 128, 128, .3) 2px;
    width: 95%;
}
.containerJugadores .li-grid-item:nth-child(6) {
    grid-column: 1/2;
    grid-row: 3/4;
    list-style-type: none;
    text-align: start;
    padding-left: .5em;
    border: solid rgba(128, 128, 128, .3) 2px;
    width: 95%;
}
.containerJugadores .li-grid-item:nth-child(7) {
    grid-column: 2/3;
    grid-row: 3/4;
    list-style-type: none;
    text-align: start;
    padding-left: .5em;
    border: solid rgba(128, 128, 128, .3) 2px;
    width: 95%;
}
.containerJugadores .li-grid-item:nth-child(8) {
    grid-column: 3/4;
    grid-row: 3/4;
    list-style-type: none;
    text-align: start;
    padding-left: .5em;
    border: solid rgba(128, 128, 128, .3) 2px;
    width: 95%;
}
.containerJugadores .li-grid-item:nth-child(9) {
    grid-column: 4/5;
    grid-row: 3/4;
    list-style-type: none;
    text-align: start;
    padding-left: .5em;
    border: solid rgba(128, 128, 128, .3) 2px;
    width: 95%;
}

.page-link {
    color: black;
}
.page-link:hover {
    color: rgb(128, 90, 10);
}
.container-pagination {
    position: relative;
    bottom:0;
}

.grid-item-box-posicion {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    right: 0; 
    color: #fff;
    font-weight: 500;


}

.items-posicion1 {
align-self: flex-start;
margin-bottom: 0;
color: #fff;
font-weight: 500;
text-align: left;



}
.li-grid-item-posicion {
    list-style-type: none;
    padding: 0;
    margin: .5em 0;
    background-color: #fff;
    width: 98%;

}

.ul-Grid-Container2 {
    text-align: left;
    padding-left: 5px;
}

.input-posicion {
    width: 75%;
    margin: 0; 
    background-color: #fff;
}

.strong-grid-item-posicion {
    color: rgb(104, 101, 101);
    margin-left: 5px; 
}





.ulPagination {
	justify-content: center;
}