<div class="container">
  <div class="navigation-bar1">
    <div class="nav-bar-item"><a href="#">HOME</a></div>
    <div class="nav-bar-item"><a href="#">LISTA J</a></div>
    <div class="nav-bar-item"><a href="#">J POSICION</a></div>
    <div class="nav-bar-item">
      <a href="#">ACT DIARIA</a></div>
      <div class="nav-bar-item">
          <a href="#">ACT TEMP</a>
    </div>
    <div class="nav-bar-item"><a href="#">NOSOTROS</a></div>

  </div>
</div>


<div class="grid-container">
  <div class="grid-items">
    <h3>J POSICION</h3>
    
    <ul class="ul-Grid-Container">
      <h6>RAFAEL QUINTERO</h6>
      <li class="li-grid-item">
        <strong>NOMBRE: </strong> 
      </li>
      <li class="li-grid-item">
        <strong>POSICION: </strong> 
      </li>
      <li class="li-grid-item">
        <strong>NOMBRE: </strong> 
      </li>
      <li class="li-grid-item">
        <strong>POSICION: </strong> 
      </li>
      <li class="li-grid-item">
        <strong>NOMBRE: </strong> 
      </li>
      <li class="li-grid-item">
        <strong>POSICION: </strong> 
      </li>
      <li class="li-grid-item">
        <strong>NOMBRE: </strong> 
      </li>
      <li class="li-grid-item">
        <strong>POSICION: </strong> 
      </li>
    </ul>
  </div>
  <div class="grid-items">
      <h3>LISTA DE JUGADORES</h3>
  </div>
  <div class="grid-items"></div>
  <div class="grid-items"></div>
  <div class="grid-items"></div>
  <!-- <div class="grid-items"></div>
  <div class="grid-items"></div>
  <div class="grid-items"></div> -->
</div>
















<!-- <div class="container2"> -->







<!-- <div class="container">
  <div class="item-grid1"></div>
  <div class="item-grid2"></div>
  <div class="item-grid3"></div>
  <div class="item-grid4"></div>
  <div class="item-grid5"></div>
  <div class="item-grid6"></div>
  <div class="item-grid7"></div>
  <div class="item-grid8"></div>
  <div class="item-grid9"></div>
  <div class="item-grid10"></div>
  <div class="item-grid11"></div>
  <div class="item-grid12"></div>
  <div class="item-grid13"></div>
  <div class="item-grid14"></div>
  <div class="item-grid15"></div>
  <div class="item-grid16"></div>
  <div class="item-grid17"></div>
  <div class="item-grid18"></div>
  <div class="item-grid19"></div>
  <div class="item-grid20"></div>
  <div class="item-grid21"></div>
  <div class="item-grid22"></div>
  <div class="item-grid23"></div>
  <div class="item-grid24"></div>
</div> -->



































<!-- <div class="card" style="width: 18rem;">
  <ul *ngFor="let player of players; let i = index" class="list-group list-group-flush">
    <li class="list-group-item">
      <strong> Full Name: </strong>{{player.fullName}}</li>
    <li class="list-group-item">
      <strong> Team: </strong>{{player.stats[0].splits[0].team.name}}</li>
    <li class="list-group-item">
      <strong> Opponent Team: </strong>{{player.stats[0].splits[0].opponent.name}}</li>
     <li class="list-group-item">
      <strong> Avg: </strong>{{ player.stats[0].splits[0].stat.avg}}</li> -->
    <!--<li class="list-group-item">
      <strong> LastName: </strong>{{ player.lastName }}</li>
    <li class="list-group-item">
      <strong> Primary Number: </strong>{{ player.primaryNumber}}</li>
    <li class="list-group-item">
      <strong> BirthDate: </strong>{{ player.birthDate }}</li>
    <li class="list-group-item">
      <strong> Current Age: </strong>{{ player.currentAge }}</li>
    <li class="list-group-item">
      <strong> Birth City: </strong>{{player.birthCity }}</li>
    <li class="list-group-item">
      <strong> Birth Country: </strong>{{ player.birthCountry }}</li>
    <li class="list-group-item">
      <strong> Height: </strong>{{player.height }}</li>
    <li class="list-group-item">
      <strong> Link APi: </strong>{{player.link}}</li>-->
      <!-- <li>
    <ul class="list-group list-group-flush"  >
      <li class="list-group-item">
        <strong> Game Date: </strong>{{player.stats[0].splits[player.stats[0].splits.length - 1].date}}</li>
      <li class="list-group-item">
        <strong> At Bats: </strong>{{player.stats[0].splits[player.stats[0].splits.length - 1].stat.atBats}}</li>
      <li class="list-group-item">
        <strong> Hits: </strong>{{player.stats[0].splits[player.stats[0].splits.length - 1].stat.hits}}</li>
      <li class="list-group-item">
        <strong> Home Runs: </strong>{{player.stats[0].splits[player.stats[0].splits.length - 1].stat.homeRuns}}</li>
      <li class="list-group-item">
        <strong> Base on Balls: </strong>{{player.stats[0].splits[player.stats[0].splits.length - 1].stat. baseOnBalls}}</li>
      <li class="list-group-item">
        <strong> StrikeOuts: </strong>{{player.stats[0].splits[player.stats[0].splits.length - 1].stat. strikeOuts}}</li>
      <li>{{i}}</li>
    </ul> 
  </li>

  </ul>

</div> -->