<div class="container">
  <div class="navigation-bar1">
    <div class="nav-bar-item">
      <a href="#">HOME</a>
    </div>
    <div class="nav-bar-item">
      <a href="#">LISTA J</a>
    </div>
    <div class="nav-bar-item">
      <a href="#">J POSICION</a>
    </div>
    <div class="nav-bar-item">
      <a href="#">ACT DIARIA</a>
    </div>
    <div class="nav-bar-item">
      <a href="#">ACT TEMP</a>
    </div>
    <div class="nav-bar-item">
      <a href="#">NOSOTROS</a>
    </div>
  </div>
</div>

<div class="grid-container ">
  <div class="grid-items">
    <h3>LISTA DE JUGADORES</h3>
    <div class="grid-item-box">
      <ul class="ul-Grid-Container" *ngFor="let player of players; let i=index" >
        <li class="li-grid-item" *ngIf="i>5 &&  i<10">
          <h6>{{player.fullName}}</h6>
        </li>
        <li class="li-grid-item" *ngIf="i>5 && i<10">
          <strong>EDAD: </strong> {{player.currentAge}}   Años  
        </li>
        <li class="li-grid-item" *ngIf="i>5 && i<10">
          <strong>NICKNAME: </strong>{{player.nickName}} 
        </li>
        <li class="li-grid-item" *ngIf="i>5 && i<10">
          <strong>Estatura: </strong>{{player.height}} 
        </li>
        <li class="li-grid-item" *ngIf="i>5 && i<10">
          <strong>NUMERO: </strong>{{player.primaryNumber}} 
        </li>
        <li class="li-grid-item" *ngIf="i>5 && i<10">
          <strong>LUGAR NACIMIENTO: </strong>{{player.birthCity}} 
        </li>
        <li class="li-grid-item" *ngIf="i>5 && i<10">
          <strong>FECHA NACIMIENTO: </strong>{{player.birthDate}} 
        </li>
        <li class="li-grid-item" *ngIf="i>5 && i<10">
          <strong>EDAD: </strong>{{player.currentAge}} Años
        </li>
        <li class="li-grid-item" *ngIf="i>5 && i<10">
          <strong>PESO: </strong>{{player.weight}} Libras
        </li>
      </ul>
    </div>

    <!-- <div class="grid-item-box">
      <ul class="ul-Grid-Container">
        <li class="li-grid-item">
          <h6>RONALD ACUÑA Jr.</h6>
        </li>
        <li class="li-grid-item">
          <strong>EDAD: </strong>
        </li>
        <li class="li-grid-item">
          <strong>NICKNAME: </strong>
        </li>
        <li class="li-grid-item">
          <strong>EQUIPO: </strong>
        </li>
        <li class="li-grid-item">
          <strong>POSICION: </strong>
        </li>
        <li class="li-grid-item">
          <strong>LUGAR NACIMIENTO: </strong>
        </li>
        <li class="li-grid-item">
          <strong>FECHA NACIMIENTO: </strong>
        </li>
        <li class="li-grid-item">
          <strong>FILDEO:</strong>
        </li>
        <li class="li-grid-item">
          <strong>BATEO: </strong>
        </li>
      </ul>
    </div>
    <div class="grid-item-box">
      <ul class="ul-Grid-Container">
        <li class="li-grid-item">
          <h6>CARLOS CARRASCO</h6>
        </li>
        <li class="li-grid-item">
          <strong>EDAD: </strong>
        </li>
        <li class="li-grid-item">
          <strong>NICKNAME: </strong>
        </li>
        <li class="li-grid-item">
          <strong>EQUIPO: </strong>
        </li>
        <li class="li-grid-item">
          <strong>POSICION: </strong>
        </li>
        <li class="li-grid-item">
          <strong>LUGAR NACIMIENTO: </strong>
        </li>
        <li class="li-grid-item">
          <strong>FECHA NACIMIENTO: </strong>
        </li>
        <li class="li-grid-item">
          <strong>FILDEO:</strong>
        </li>
        <li class="li-grid-item">
          <strong>BATEO: </strong>
        </li>
      </ul>
    </div>
    <div class="grid-item-box">
      <ul class="ul-Grid-Container">
        <li class="li-grid-item">
          <h6>JOULYS CHACIN</h6>
        </li>
        <li class="li-grid-item">
          <strong>EDAD: </strong>
        </li>
        <li class="li-grid-item">
          <strong>NICKNAME: </strong>
        </li>
        <li class="li-grid-item">
          <strong>EQUIPO: </strong>
        </li>
        <li class="li-grid-item">
          <strong>POSICION: </strong>
        </li>
        <li class="li-grid-item">
          <strong>LUGAR NACIMIENTO: </strong>
        </li>
        <li class="li-grid-item">
          <strong>FECHA NACIMIENTO: </strong>
        </li>
        <li class="li-grid-item">
          <strong>FILDEO:</strong>
        </li>
        <li class="li-grid-item">
          <strong>BATEO: </strong>
        </li>
      </ul>
    </div>
    <div class="grid-item-box">
      <ul class="ul-Grid-Container">
        <li class="li-grid-item">
          <h6>GLEYBER TORRES</h6>
        </li>
        <li class="li-grid-item">
          <strong>EDAD: </strong>
        </li>
        <li class="li-grid-item">
          <strong>NICKNAME: </strong>
        </li>
        <li class="li-grid-item">
          <strong>EQUIPO: </strong>
        </li>
        <li class="li-grid-item">
          <strong>POSICION: </strong>
        </li>
        <li class="li-grid-item">
          <strong>LUGAR NACIMIENTO: </strong>
        </li>
        <li class="li-grid-item">
          <strong>FECHA NACIMIENTO: </strong>
        </li>
        <li class="li-grid-item">
          <strong>FILDEO:</strong>
        </li>
        <li class="li-grid-item">
          <strong>BATEO: </strong>
        </li>
      </ul>
    </div> -->

    <!-- <div class="container-pagination">
      <div class="container">
        <nav aria-label="Demo of Bootstrap 4 Navigation">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#">Prev</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#"  >1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">4</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">5</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">6</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">7</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </div> -->

  </div>
  <div class="grid-items">
    <h3>JUGADORES POR POSICION</h3>
    <div class="grid-item-box-posicion">
      <p class="items-posicion1">POSICION</p>
      <input class="input-posicion"  OnChange="filterPositions()" type="text" placeholder="Search..">
    </div>
    <div class="grid-item-box1">
      <p class="items-posicion1">JUGADOR(ES)</p>
      <!-- <div class="grid-item-box-posicion"> -->
        <ul class="ul-Grid-Container2" *ngFor="let player of playerAuxList ">
          <li class="li-grid-item-posicion">
            <strong class="strong-grid-item-posicion" >{{player.name}}</strong>
          </li>
          <!-- <li class="li-grid-item-posicion">
            <strong class="strong-grid-item-posicion">GLEYBER TORRES</strong>
          </li> -->
        </ul>
      <!-- </div> -->
    </div>
  </div>
</div>



<!-- <div class="card" style="width: 18rem;">
  <ul *ngFor="let player of players; let i = index" class="list-group list-group-flush">
    <li class="list-group-item">
      <strong> Full Name: </strong>{{player.fullName}}</li>
    <li class="list-group-item">
      <strong> Team: </strong>{{player.stats[0].splits[0].team.name}}</li>
    <li class="list-group-item">
      <strong> Opponent Team: </strong>{{player.stats[0].splits[0].opponent.name}}</li>
     <li class="list-group-item">
      <strong> EDAD: </strong>{{ player.stats[0].splits[0].stat.EDAD}}</li> -->
<!--<li class="list-group-item">
      <strong> LastName: </strong>{{ player.lastName }}</li>
    <li class="list-group-item">
      <strong> Primary Number: </strong>{{ player.primaryNumber}}</li>
    <li class="list-group-item">
      <strong> BirthDate: </strong>{{ player.birthDate }}</li>
    <li class="list-group-item">
      <strong> Current Age: </strong>{{ player.currentAge }}</li>
    <li class="list-group-item">
      <strong> Birth City: </strong>{{player.birthCity }}</li>
    <li class="list-group-item">
      <strong> Birth Country: </strong>{{ player.birthCountry }}</li>
    <li class="list-group-item">
      <strong> Height: </strong>{{player.height }}</li>
    <li class="list-group-item">
      <strong> Link APi: </strong>{{player.link}}</li>-->
<!-- <li>
    <ul class="list-group list-group-flush"  >
      <li class="list-group-item">
        <strong> Game Date: </strong>{{player.stats[0].splits[player.stats[0].splits.length - 1].date}}</li>
      <li class="list-group-item">
        <strong> At Bats: </strong>{{player.stats[0].splits[player.stats[0].splits.length - 1].stat.atBats}}</li>
      <li class="list-group-item">
        <strong> Hits: </strong>{{player.stats[0].splits[player.stats[0].splits.length - 1].stat.hits}}</li>
      <li class="list-group-item">
        <strong> Home Runs: </strong>{{player.stats[0].splits[player.stats[0].splits.length - 1].stat.homeRuns}}</li>
      <li class="list-group-item">
        <strong> Base on Balls: </strong>{{player.stats[0].splits[player.stats[0].splits.length - 1].stat. baseOnBalls}}</li>
      <li class="list-group-item">
        <strong> StrikeOuts: </strong>{{player.stats[0].splits[player.stats[0].splits.length - 1].stat. strikeOuts}}</li>
      <li>{{i}}</li>
    </ul> 
  </li>

  </ul>

</div> -->